@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root{
    --day-bgcolor:#f3f3f3;
    --nav-bgcolor:white;
    --nigth-bgcolor:#18191A;
    --night-sectionColor:#3a3b3c;
    --night-secondColor:#242526;
    --night-textColor:#e4e6eb;
    --box-shadow:rgb(172, 172, 172);
    --hover-color:#FF8AFF;
    --start-color:#2ECC40;
    --random-color:#1e90ff;
    scroll-behavior: smooth;
}

body{
    background-color: var(--nigth-bgcolor);
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
nav{
    position: absolute;
    width: 100%;
    height: 140px;
    background-color: transparent;
}
.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 30px;
}
.logo-img{
    width: 80px;
}
.toggle{
    display: none;
    margin-right: 20px;
    font-size: 36px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.6s;
}
.toggle:hover{
    transform: rotate(90deg);
}
#list{margin-right: 5vw;}
#list li{
    display: inline;
    margin-right: 50px;
}
.a-link{
    position: relative;
    text-decoration: none;
    color: var(--night-textColor);
    font-size: 30px;
    font-weight: 300;
}
.a-link::after{
    position: absolute;
    content: '';
    background-color: transparent;
    width: 90%;
    height: 5px;
    border-radius: 10px;
    left: 5%;
    top: 120%;
    transition: .5s;
}
.a-link:hover::after{
    background-color: var(--hover-color);
    transform: translateY(-120%);
}

header{
    display: table-cell;
    vertical-align: middle;
    width: 100vw;
    height: 100vh;
    background-color: var(--nigth-bgcolor);
    text-align: center;
}
.heading{
    color: var(--hover-color);
    font-size: 76px;
    font-weight: 300;
}
.underText{
    color: var(--night-textColor);
    font-size: 24px;
    font-weight: 300;
    margin-top: -60px;
}
#sorts{
    padding-top: 60px;
    text-align: center;
    color: var(--hover-color);
    font-size: 60px;
    font-weight: 300;
}
main{
    background-color: var(--night-secondColor);
}
.content{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sort-container{
    margin: 40px;
    text-align: left;
    padding: 15px;
    width: 600px;
    background-color: var(--night-sectionColor);
    border-radius: 10px;
    color: var(--night-textColor);
    text-transform: uppercase;
    transition: transform 0.5s;
}
.sort-container:hover{
    transform: scale(1.1);
}

.element{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 3px solid var(--night-textColor);
    margin: 10px;
}
.sort-array{
    font-weight: 300;
    width: 100%;
    display: flex;
    justify-content: center;
}
h1{
    font-weight: 400;
    margin-left: 10px;
}
.top{
    display: flex;
    justify-content: space-between;
    margin-right:10px ;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.start, .random, .link{
    position: relative;
    float: left;
    overflow: hidden;
    color: var(--night-textColor);
    font-size: 30px;
    background-color: transparent;
    text-decoration: none;
    margin-right: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: color .5s;
}
.link{
    font-size: 36px;
}
.start:hover, .random:hover, .link:hover{
    color: var(--hover-color);
}
#about{
    text-align: center;
    display: grid;
    place-items: center;
}
#bigText{
    text-align: center;
    font-size: 60px;
    font-weight: 300;
    color: var(--hover-color);
}
#smallText{
    color: var(--night-textColor);
    margin-top: -60px;
    font-size: 24px;
    font-weight: 300;
    width: 55vw;
}
#contact{
    display: grid;
    place-items: center;
    padding-bottom: 100px;
}
.social{
    display: inline-flex;
    justify-content: space-between;
    width: 70vw;
}
.media{
    font-size: 20px;
    font-weight: 300;
    color: var(--night-textColor);
}
.social-Links li{
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}
.social-Links li a{
    text-decoration: none;
    color: var(--night-textColor);
}
.fab{
    vertical-align: middle;
    font-size: 50px;
    margin-right: 20px;
}
.email{
    background-color: var(--night-sectionColor);
    width: 40rem;
    height: auto;
    float: right;
}

footer{
    height: 300px;
    background-color: black;
}
.topLink{
    position: fixed;
    bottom:40px;
    right: 40px;
    width: 80px;
    height: 80px;
    background-color: #FF7D7D;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 40px;
    animation: pulse 2s infinite;
    text-decoration: none;
    color: black;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}
.topLink.active{
    visibility: visible;
    opacity: 1;
}
@keyframes pulse{
    0%{
        transform: scale(.80);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(.80);
    }
}